.product-page{
    padding:40px 30px;
}

.product-card{
    display:flex;
    gap:50px;

    background:#1f2937;
    border:1px solid #374151;
    border-radius:22px;

    padding:40px;

    transition:.3s;
}

.product-card:hover{
    box-shadow:0 12px 35px rgba(37,99,235,.18);
}

.product-image-box{
    width:380px;
    height:380px;

    background:#111827;

    border-radius:18px;

    display:flex;
    align-items:center;
    justify-content:center;
}

.product-image{
    width:80%;
    height:80%;
    object-fit:contain;
}

.product-content{
    flex:1;
}

.product-category{
    color:#60a5fa;
    text-transform:uppercase;
    font-size:14px;
    letter-spacing:1px;
    font-weight:700;
}

.product-title{
    color:#fff;
    font-size:40px;
    margin:15px 0;
    line-height:1.3;
}

.product-rating{
    color:#facc15;
    margin-bottom:20px;
    font-size:18px;
}

.product-price{
    color:#4ade80;
    font-size:40px;
    margin-bottom:25px;
}

.product-description{
    color:#d1d5db;
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
    max-width:650px;
}

.product-btn{
    background:#2563eb;
    color:#fff;

    border:none;
    border-radius:12px;

    padding:16px 32px;

    font-size:18px;
    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.product-btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}

@media(max-width:900px){

.product-card{
    flex-direction:column;
    align-items:center;
}

.product-image-box{
    width:300px;
    height:300px;
}

.product-title{
    font-size:30px;
}

.product-price{
    font-size:32px;
}

}

